html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

input,
textarea {
    font-family: Arial
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.login-form input {
    max-width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    border-bottom: solid 2px #b3b2ca;
    transition: all .23s ease-in
}

.login-form input:focus {
    border-bottom: solid 2px #5d5d8a;
    outline: none
}

.login-form .error {
    text-align: center;
    margin: 5px 0;
    padding: 5px 10px;
    color: #c92c43
}

.container {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    width: 100%
}

#side-bar {
    box-sizing: border-box;
    width: 20%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#side-bar .heading {
    box-sizing: border-box;
    height: 12vh;
    max-height: 65px;
    padding: 18px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #1b1d21;
    border-radius: 20px 0px 0px 0px;
}

#side-bar .search {
    background: #272a30;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
    padding-left: 15px;
    padding-right: 20px;
    height: 10vh;
    max-height: 65px
}

#side-bar .search .search-icon {
    margin-right: 15px;
    cursor: pointer
}

#side-bar .search input {
    width: 100%;
    background: #272a30;
    flex-grow: 1;
    box-sizing: border-box;
    border: none;
    color: white;
}

#side-bar .search input:focus {
    outline: none
}

#side-bar .search input::placeholder {
    color: white;
    opacity: .6
}

#side-bar .search .plus {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 13px;
    height: 13px
}

#side-bar .search .plus::after,
#side-bar .search .plus::before {
    content: '';
    position: absolute;
    background: #b3b2ca
}

#side-bar .search .plus::after {
    width: 16px;
    height: 2px;
    top: 5px
}

#side-bar .search .plus::before {
    width: 2px;
    height: 16px;
    top: -2px;
    left: 7px
}

#side-bar .users {
    overflow-y: scroll;
    background: #3d4352;
    flex-grow: 1
}

#side-bar .users::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #2C4770
}

#side-bar .users::-webkit-scrollbar {
    width: 5px;
    background-color: green
}

#side-bar .users::-webkit-scrollbar-thumb {
    background-color: #484d79
}

#side-bar .users .user {
    align-items: center;
    display: flex;
    height: 66px;
    justify-content: flex-start;
    padding: 18px 16px
}

#side-bar .users .user.active,
#side-bar .users .user:hover {
    background: #303540
}

#side-bar .users .user:hover:not(.active) {
    cursor: pointer
}

#side-bar .users .user .user-info {
    margin-left: 15px;
    flex-grow: 1
}

#side-bar .users .user .user-info .last-message {
    font-size: 12px;
    opacity: .56
}

#side-bar .users .user .new-message {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

#side-bar .current-user {
    align-items: center;
    background: #303540;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 10vh;
    max-height: 65px;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px 0px 0px 20px;
}

#side-bar .current-user .logout {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2em
}

.chat-header {
    background: #303540;
    box-shadow: 0px 6px 5px -2px rgba(225, 225, 225, 0.7);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    max-height: 65px;
    padding: 18px 16px;
    border-radius: 0px 20px 0px 0px;
}

.chat-header .user-info {
    align-items: center;
    display: flex
}

.chat-header .user-info .user-name {
    margin-right: 10px
}

.chat-header .user-info .status {
    align-items: center;
    display: flex
}

.chat-header .options {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 15%
}

.chat-header .options svg {
    cursor: pointer
}

.chat-room-container {
    height: 95%;
    width: 50%;
}

@media screen and (max-width: 510px) {
    #side-bar {
        position: absolute;
        left: -100%
    }
    .chat-room-container {
        width: 100%
    }
}

.chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%
}

.chat-room.choose {
    align-items: center;
    justify-content: center;
    font-size: 2em
}

.thread-container {
    flex-grow: 1;
    overflow-y: scroll;
    position: relative
}

.thread-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.thread-container::-webkit-scrollbar {
    width: 5px;
    background-color: green
}

.thread-container::-webkit-scrollbar-thumb {
    background-color: #272a30;
}

.thread-container .thread {
    position: relative;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #b3b2ca;
    background: #8e97af
}

.message-container {
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
    margin: 10px 15px;
    animation: .65s ease-out 0s show
}

.message-container .time {
    order: 1
}

.message-container .data {
    order: 2;
    height: 100%;
    margin-left: 25px
}

.message-container .name {
    font-size: .65em;
    margin-top: 5px;
    text-align: right
}

.message-container .message {
    background: #fff;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-sizing: border-box;
    color: #b3b2ca;
    height: 100%;
    padding: 10px 15px;
    position: relative
}

@keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.message-container .message::before {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
    border-style: solid;
    border-top-color: #fff;
    border-width: 4px;
    content: '';
    height: 0;
    left: -7px;
    position: absolute;
    top: 0;
    width: 0
}

.message-container.right {
    text-align: right;
    justify-content: flex-end
}

.message-container.right .time {
    order: 2;
    margin-left: 25px
}

.message-container.right .data {
    margin-left: 0;
    order: 1
}

.message-container.right .name {
    display: none
}

.message-container.right .message {
    background: white;
    color: #1b1d21;
    border-top-right-radius: 0;
    border-top-left-radius: 5px
}

.message-container.right .message::before {
    border-top-color: white;
    border-left-color: white;
    border-right-color: transparent;
    left: auto;
    right: -7px
}

.typing-user {
    text-align: right;
    margin: 10px 15px
}

.message-input {
    background: #303540;
    color: #484d79;
    box-sizing: border-box;
    height: 15vh;
    max-height: 15vh;
    border-radius: 0px 0px 20px 0px;
}

.message-input .message-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.message-input .message-form .form-control {
    display: block;
    margin:auto;
    resize: none;
    box-sizing: border-box;
    width: 80%;
    height: 60%;
    border: none
}

.message-input .message-form .form-control::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cac8ee
}

.message-input .message-form .form-control::-webkit-scrollbar {
    width: 5px;
    background-color: green
}

.message-input .message-form .form-control::-webkit-scrollbar-thumb {
    background-color: #484d79
}

.message-input .message-form .form-control:focus {
    outline: none
}

.message-input .message-form .send {
    width: 20%;
    box-sizing: border-box;
    font-size: 1.25em;
    text-align: center;
    border: none;
    height: 100%;
    color: #fff;
    background: #303540;
    transition: all .35s ease-out
}

.message-input .message-form .send:disabled {
    opacity: .5;
    background: #303540
}

.hide-login {
    display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #647684;
}

input:focus + .slider {
  box-shadow: 0 0 1px #647684;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}