html,
body,
#root {
    margin: 0;
    padding: 0;
    font-family: 'Lato',sans-serif;
    height: 100%;
    /*background: linear-gradient(-45deg, #4b9ec1, #8c85d1, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;*/
}

.linkedin {
    display: block;
    margin-left:50%;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.duration {
    animation-duration: 1.5s;
}

.opacity {
    opacity:0.7;
}

input,
textarea {
    font-family: Arial
}

.login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column
}

.login-form input {
    max-width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    border-bottom: solid 2px #b3b2ca;
    transition: all .23s ease-in
}

.login-form input:focus {
    border-bottom: solid 2px #5d5d8a;
    outline: none
}

.login-form .error {
    text-align: center;
    margin: 5px 0;
    padding: 5px 10px;
    color: #c92c43
}

.container {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

#side-bar {
    margin-left:15%;
    box-sizing: border-box;
    width: 20%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 0px 73px -9px rgba(0, 0, 0, 0.5);
    border-radius: 20px 0px 0px 20px;
    z-index: 2;
}

#side-bar .heading {
    box-sizing: border-box;
    height: 12vh;
    max-height: 65px;
    padding: 18px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.5s;
    background: #5498C1;
    border-radius: 20px 0px 0px 0px;
    animation-delay: 0.2s;
}

#side-bar .search {
    background: #7CBADE;
    transition-duration: 0.8s;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    height: 10vh;
    max-height: 65px;
    animation-delay: 0.5s;
}

#side-bar .search .search-icon {
    margin-right: 15px;
    cursor: pointer
}

#side-bar .search input {
    width: 100%;
    background:transparent;
    flex-grow: 1;
    box-sizing: border-box;
    border: none;
    color: white;
}

#side-bar .search input:focus {
    outline: none
}

#side-bar .search input::placeholder {
    color: white;
    opacity: .6
}

#side-bar .search .plus {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 13px;
    height: 13px
}

#side-bar .search .plus::after,
#side-bar .search .plus::before {
    content: '';
    position: absolute;
}

#side-bar .search .plus::after {
    width: 16px;
    height: 2px;
    top: 5px
}

#side-bar .search .plus::before {
    width: 2px;
    height: 16px;
    top: -2px;
    left: 7px
}

#side-bar .users {
    transition-duration: 1.1s;
    overflow-y: scroll;
    background: #ffffff;
    flex-grow: 1;
}

#side-bar .users::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

#side-bar .users::-webkit-scrollbar {
    width: 5px;
    background-color: green
}

#side-bar .users::-webkit-scrollbar-thumb {
    background-color: #484d79
}

#side-bar .users .user {
    background-color:#D8EEFC;
    align-items: center;
    display: flex;
    height: 66px;
    justify-content: flex-start;
    padding: 18px 16px;
    animation-delay: 0.7s;
}

#side-bar .users .user.active,
#side-bar .users .user:hover {
    transition-duration: 0.9s;
    background: #A8D5F0;
}

#side-bar .users .user:hover:not(.active) {
    cursor: pointer
}

#side-bar .users .user .user-info {
    margin-left: 15px;
    flex-grow: 1
}

#side-bar .users .user .user-info .last-message {
    font-size: 12px;
    opacity: .56
}

#side-bar .users .user .new-message {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

#side-bar .current-user {
    align-items: center;
    background: #5498C1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 10vh;
    max-height: 65px;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0px 0px 0px 20px;
    transition-duration: 1.3s;
    animation-delay: 0.7s;
}

#side-bar .current-user .logout {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-size: 2em
}

.chat-header {
    background: #7CBADE;
    transition-duration: 0.5s;
    box-shadow: 0px 6px 5px -2px rgba(225, 225, 225, 0.7);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    max-height: 65px;
    padding: 18px 16px;
    border-radius: 0px 20px 0px 0px;
}

.chat-header .user-info {
    align-items: center;
    display: flex
}

.chat-header .user-info .user-name {
    margin-right: 10px
}

.chat-header .user-info .status {
    align-items: center;
    display: flex
}

.chat-header .options {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 15%
}

.chat-header .options svg {
    cursor: pointer
}

.chat-room-container {
    height: 95%;
    width: 50%;
    box-shadow: 0px 0px 73px -9px rgba(0, 0, 0, 0.5);
    border-radius: 0px 20px 20px 0px;
    z-index: 1;

}

@media screen and (max-width: 510px) {
    #side-bar {
        position: absolute;
        left: -100%
    }
    .chat-room-container {
        width: 100%
    }
}

.chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%
}

.chat-room.choose {
    align-items: center;
    justify-content: center;
    font-size: 2em
}

.thread-container {
    flex-grow: 1;
    overflow-y: scroll;
    position: relative
}

.thread-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.thread-container::-webkit-scrollbar {
    width: 5px;
    background-color: green
}

.thread-container::-webkit-scrollbar-thumb {
    background-color: #afafaf;
}

.thread-container .thread {
    position: relative;
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #b3b2ca;
    background: white;
    opacity:1;
    transition-duration: 1.3s;
}

.message-container {
    display: flex;
    justify-content: flex-start;
    min-height: 50px;
    margin: 10px 15px;
    animation: .65s ease-out 0s show
}

.message-container .time {
    order: 1
}

.message-container .data {
    order: 2;
    height: 100%;
    margin-left: 25px
}

.message-container .name {
    font-size: .65em;
    margin-top: 5px;
    text-align: right
}

.message-container .message {
    background: #fff;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-sizing: border-box;
    color: #b3b2ca;
    height: 100%;
    padding: 10px 15px;
    position: relative
}

@keyframes show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.message-container .message::before {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
    border-style: solid;
    border-top-color: #fff;
    border-width: 4px;
    content: '';
    height: 0;
    left: -7px;
    position: absolute;
    top: 0;
    width: 0
}

.message-container.right {
    text-align: right;
    justify-content: flex-end
}

.message-container.right .time {
    order: 2;
    margin-left: 25px
}

.message-container.right .data {
    margin-left: 0;
    order: 1
}

.message-container.right .name {
    display: none
}

.message-container.right .message {
    background: white;
    color: #1b1d21;
    border-top-right-radius: 0;
    border-top-left-radius: 5px
}

.message-container.right .message::before {
    border-top-color: white;
    border-left-color: white;
    border-right-color: transparent;
    left: auto;
    right: -7px
}

.typing-user {
    text-align: right;
    margin: 10px 15px
}

.message-input {
    background: #7CBADE;
    color: #484d79;
    box-sizing: border-box;
    height: 15vh;
    max-height: 15vh;
    border-radius: 0px 0px 20px 0px;
    transition-duration: 0.8s;
}

.message-input .message-form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.message-input .message-form .form-control {
    display: block;
    margin:auto;
    resize: none;
    box-sizing: border-box;
    width: 80%;
    height: 60%;
    border: none;
    animation-delay: 0.10s;
}

.message-input .message-form .form-control::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cac8ee
}

.message-input .message-form .form-control::-webkit-scrollbar {
    width: 5px;
    background-color: green
}

.message-input .message-form .form-control::-webkit-scrollbar-thumb {
    background-color: #484d79
}

.message-input .message-form .form-control:focus {
    outline: none
}

.message-input .message-form .send {
    width: 20%;
    box-sizing: border-box;
    font-size: 1.25em;
    text-align: center;
    border: none;
    height: 100%;
    color: #fff;
    background: #303540;
    transition: all .35s ease-out
}

.message-input .message-form .send:disabled {
    opacity: .5;
    background: #303540
}

.hide-login {
    display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e5e5e5;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #647684;
}

input:focus + .slider {
  box-shadow: 0 0 1px #647684;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#side-bar .heading.ghost {
    transition-duration: 0.5s;
    background-color: #1b1d21;
}

#side-bar .search.searchColor {
    transition-duration: 0.7s;
    background-color: #272a30;
}

#side-bar .users.usersColor {
    transition-duration: 1.1s;
    background-color: #3d4352;
}

#side-bar .user.active.activeColor {
    transition-duration: 0.9s;
    background-color: #303540;
}

#side-bar .user.activeColor {
    transition-duration: 0.9s;
    background-color: #303540;
}

#side-bar .current {
    transition-duration: 1.3s;
    background-color: #303540;
}

.header {
    transition-duration: 0.9s;
    background-color: #303540;
}

.thread-container .thread.thread-body {
    transition-duration: 1.3s;
    background-color: #8e97af;
}

.footer {
    transition-duration: 1.1s;
    background-color: #303540;
}

.scroll {
    background-color: black;
}

#container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #4b9ec1;
    /*background: linear-gradient(-45deg, #4b9ec1, #8c85d1, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;*/
}

#container a {
    color: white;
    text-decoration: none;
}

.account {
    opacity: 0.7;
    margin-top: 22%;
    text-align: center;
    animation-delay: 0.9s;
}

.login {
    display: block;
    margin: auto;
    margin-top: 2%;
    width: 25%;
    min-width: 332px;
    height: 92%;
    /*box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);*/
    /*background-image: url("../images/login_background.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;*/
    animation-delay: 0.35s;
}

.input {
    display: block;
    margin: auto;
    width: 85%;
    height: 7%;
    opacity: .72;
    border-bottom: 1px solid rgba(255, 255, 255, .72);
    animation-delay: 0.6s;
}

.input2 {
    margin-top: 3%;
    animation-delay: 0.7s;
}

.input img {
    width: 2em;
    height: 2em;
    margin-top: 3%;
    opacity: 0.72;
}

.logo {
    width: 100%;
    height: 50%;
    animation-delay: 0.7s;
}

.logo img {
    position: relative;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    opacity: 0.5;
}

.login_input {
    margin-left: 2%;
}

input,
 ::-webkit-input-placeholder {
    color: white;
    background: transparent;
    border: none;
    font-size: 1.1em;
}

input:focus {
    outline: 0;
}

.btn {
    display: block;
    margin: auto;
    width: 75%;
    height: 8%;
    margin-top: 15%;
    background: #6facd4;
    border-radius: 40px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    border: none;
    animation-delay: 0.8s;
    opacity: 0.7;
    transition: all 0.6s ease 0s;
}

.btn:hover {
    background: #62849e;
    text-decoration: none;
    border: none;
    cursor: pointer;
    cursor: hand;
}

button:focus {
    outline: none;
}

.btn_change {
    display: block;
    margin: auto;
    width: 5%;
    height: 9%;
    margin-top: 15%;
    background: #6facd4;
    border-radius: 40px;
    color: #6facd4;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    border: none;
    animation-delay: 0.8s;
    opacity: 0.7;
    transition-duration: 1s;
    animation-timing-function: ease-in;
}




.btn_change2 {
    display: block;
    margin: auto;
    width: 5%;
    height: 9%;
    margin-top: 15%;
    background: #6facd4;
    border-radius: 40px;
    color: #6facd4;
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    border: none;
    opacity: 0.7;
    animation: expand 0.3s ease-in-out 0.2s both;
    animation-fill-mode: forwards;
}

.loading {
    display: none;
}

.loading_view {
    margin-left: 11.3%;
    margin-top: -3.3%;
    width: 45px;
    height: 45px;
    position: absolute;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear, fadein 2.5s ease-in-out;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: white;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

@keyframes expand {
    from {
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(30);
    }
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

